<div class="mui-menu-control" {{action "controlClick"}}>
  {{mui-paper class="mui-menu-control-bg" depth=0}}
  {{#if icon}}
    {{mui-icon icon=icon}}
  {{else}}
    <div class="mui-menu-label">
      {{label}}
    </div>
    {{mui-icon class="mui-menu-drop-down-icon" icon="navigation-arrow-drop-down"}}
    <div class="mui-menu-control-underline"></div>
  {{/if}}
</div>
{{#mui-menu hideable=true visible=open}}
  {{yield}}
{{/mui-menu}}