<div class="mui-app-canvas mui-predefined-layout-1">
  <div class="mui-app-content-canvas page-with-nav">
    <div class="page-with-nav-secondary-nav">
      <h3>Material UI for Ember</h3>
      <a href="https://github.com/porkepic/ember-mui">Github Project</a>
    </div>
    <div class="page-with-nav-content">
      <h2 class="mui-font-style-headline">Buttons</h2>
        {{#mui-paper type="paper" class="code-example"}}
          <div class="example-block">
            <div class="button-examples">
              <div class="button-example-group">
                <div class="button-example-container">
                  {{#mui-paper-button type="flat"}}
                    Default
                  {{/mui-paper-button}}
                </div>
                <div class="button-example-container">
                  {{#mui-paper-button type="flat" primary=true}}
                    Default
                  {{/mui-paper-button}}
                </div>
                <div class="button-example-container">
                  {{#mui-paper-button type="flat" disabled=true}}
                    Default
                  {{/mui-paper-button}}
                </div>
              </div>

              <div class="button-example-group">
                <div class="button-example-container">
                  {{#mui-paper-button type="paper"}}
                    Default
                  {{/mui-paper-button}}
                </div>
                <div class="button-example-container">
                  {{#mui-paper-button type="paper" primary=true}}
                    Default
                  {{/mui-paper-button}}
                </div>
                <div class="button-example-container">
                  {{#mui-paper-button type="paper" disabled=true}}
                    Default
                  {{/mui-paper-button}}
                </div>
              </div>

              <div class="button-example-group">
                <div class="button-example-container">
                  {{#mui-paper-button type="fab"}}
                    {{mui-icon icon="action-grade"}}
                  {{/mui-paper-button}}
                </div>
                <div class="button-example-container">
                  {{#mui-paper-button type="fab-mini"}}
                    {{mui-icon icon="action-grade"}}
                  {{/mui-paper-button}}
                </div>
                <div class="button-example-container">
                  {{#mui-paper-button type="fab" disabled=true}}
                    {{mui-icon icon="action-grade"}}
                  {{/mui-paper-button}}
                </div>
                <div class="button-example-container">
                  {{#mui-paper-button type="fab-mini" disabled=true}}
                    {{mui-icon icon="action-grade"}}
                  {{/mui-paper-button}}
                </div>
              </div>
            </div>
          {{/mui-paper}}

          <h2 class="mui-font-style-headline">Dropdowns</h2>
          {{#mui-paper type="paper" class="code-example"}}
            <div class="example-block">
              <h5>Actions</h5>
              <div style="width:200px">
                {{#mui-dropdown-menu label="Action Dropdown"}}
                  {{#mui-menu-item}} Do this. {{/mui-menu-item}}
                  {{#mui-menu-item}} Do that. {{/mui-menu-item}}
                  {{#mui-menu-item}} Or go there. {{/mui-menu-item}}
                {{/mui-dropdown-menu}}
              </div>
              <h5>Selects</h5>
              <div style="width:200px">
                {{#mui-select}}
                  {{mui-menu-item label="Choose..." value=null}}
                  {{#each item in selectValues}}
                    {{mui-menu-item label=item.label value=item.value}}
                  {{/each}}
                {{/mui-select}}
              </div>
            </div>
          {{/mui-paper}}


          <h2 class="mui-font-style-headline">Text Inputs</h2>
          {{#mui-paper type="paper" class="code-example"}}
            <div class="example-block">
              <h5>Field</h5>
              {{mui-input placeholder="First Name" description="your name"}}

              <h5>With error</h5>

              {{mui-input placeholder="Last Name" error="required"}}

              <h5>Multiline</h5>

              {{mui-input multiline=true placeholder="Description" description="All the things"}}
            </div>
          {{/mui-paper}}
          <h2 class="mui-font-style-headline">Switch Inputs</h2>
          {{#mui-paper type="paper" class="code-example"}}
            <div class="example-block">
              <h5>Checkboxes</h5>
              {{mui-checkbox }}
              <br/>
              {{mui-checkbox value=true}}
              <br/>
              {{mui-checkbox}}

              <h5>Radio Buttons</h5>
              {{mui-radio-button selection=radioSelection value=1}}
              <br/>
              {{mui-radio-button selection=radioSelection value=2}}
              <br/>
              {{mui-radio-button selection=radioSelection value=3}}
            </div>
          {{/mui-paper}}
      </div>
    </div>
  </div>
</div>