

{{outlet}}
<h2 id='title'>Paper Buttons</h2>  
{{#mui-paper-button type="paper"}}
  My Paper Button 
{{/mui-paper-button}}

{{#mui-paper-button type="flat"}}
  My Flat Button
{{/mui-paper-button}}

{{#mui-paper-button type="fab"}}
  {{mui-icon icon="action-favorite-outline"}}
{{/mui-paper-button}}

{{#mui-paper-button type="fab-mini"}}
  {{mui-icon icon="action-favorite-outline"}}
{{/mui-paper-button}}

<h2 id='title'>Buttons</h2>

{{#mui-button}}
  Flat button
{{/mui-button}}

{{#mui-button icon=true}}
  {{mui-icon icon="action-favorite-outline"}}
{{/mui-button}}


<h2 id='title'>Menus</h2>
<div style="width:200px">
  {{#mui-dropdown-menu label="dropdown"}}
    {{#mui-menu-item}}
      test
    {{/mui-menu-item}}
  {{/mui-dropdown-menu}}
</div>
<div style="width:200px">
  {{#mui-dropdown-menu icon="navigation_expand_more"}}
    {{#mui-menu-item}}
      test
    {{/mui-menu-item}}
  {{/mui-dropdown-menu}}
</div>

<div style="width:200px">
  {{#mui-select}}
    {{mui-menu-item label="Choose..." value=null}}
    {{#each item in selectValues}}
      {{mui-menu-item label=item.label value=item.value}}
    {{/each}}
  {{/mui-select}}
</div>

<h2>Inputs</h2>
<div>
  {{mui-radio-button selection=radioSelection value=1}}
  {{mui-radio-button selection=radioSelection value=2}}
</div>
<div>
  {{mui-checkbox }}
  {{mui-checkbox value=true}}
</div>
<div>
  {{mui-input placeholder="First Name" description="your name"}}
  {{mui-input placeholder="Last Name" error="required"}}
</div>
<div>
  {{mui-input multiline=true placeholder="Description" description="All the things"}}
  {{mui-input multiline=true placeholder="Description" error="required"}}
</div>
